
/* Контейнер для карточек */
.cards-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 60px;
    max-width: 1440px;
    margin: 105px auto 0 auto; /* Добавьте margin-top */
    justify-content: flex-start;
    align-items: stretch;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 8px; /* Добавьте эту строку */
}

.card {
    display: block;
    width: 440px; /* Измените ширину карточки */
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-bottom: 53px;
}

.card-image {
    width: 100%;
    height: 285px; /* Фиксированная высота */
    object-fit: cover;
    display: block;
}

.card-content {
    padding-top: 25px; /* Уменьшите только верхний отступ */
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 0px;
    flex-grow: 1;
}

.card-title {
    font-family: 'Forum', serif;
    font-size: 32px;
    font-weight: 300;
    color: #333333;
    position: relative;
    display: block;
    margin-bottom: 16px;
    padding-bottom: 11px;
    letter-spacing: 5px;
}

.card-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 73%;
    height: 2px;
    background: #710707;
    transition: width 0.3s ease;
}

.card:hover .card-title::after {
    width: 110%;
}

.card-text {
    font-size: 18px;
    line-height: 1.6;
    color: #666666;
    margin: 0;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.visiting-section {
    padding-left: 0;
    padding-right: 0;
    padding-top: 57px;
    padding-bottom: 40px;
    position: relative;
}

.visiting-title {
    font-family: 'Forum', serif;
    font-size: 80px;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: 2px;
    color: #9D8665;
    margin-bottom: 60px;
    padding-left: 20px; /* Добавляем отступ слева как у карточек */
    position: relative;
    text-indent: -12px;
    letter-spacing: 5px;
    width: auto; /* Убираем фиксированную ширину */
}

.underline-title::after {
    content: "";
    position: absolute;
    bottom: -29px;
    left: 8px; /* Начинается от левого края карточек */
    width: calc(100% - 1px); /* Заканчивается у правого края карточек */
    height: 3px;
    background-color: #710707;
}

.visiting-section .container {
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

.card-subtitle {
    margin-top: -5px;
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 100;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}

.card-text {
    margin-top: 6px;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 1.6;
    color: #000000;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}